@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Merriweather", serif;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
}

.logo {
  font-size: 30px;
}

.fancy {
  font-family: "Alex Brush", cursive;
  font-weight: 900;
}

.footer {
  margin-top: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 3px;
}

.article {
  font-size: 24px;
  line-height: 1.5;
}

.article h1 {
  font-weight: 900;
}

.article h2 {
  font-family: "Source Serif 4", serif;
  font-weight: 900;
  @apply mb-2;
  @apply mt-8;
  @apply text-2xl;
}

.article p {
  @apply mb-4;
}

.article ul {
  @apply pl-4;
  list-style: disc;
}
