<div class="container">
  <div class="border-b border-gray-400 my-4 md:my-8 md:pb-2">
    <div class="flex justify-center md:justify-normal">
      <a href="/">
        <h1 class="font-extrabold text-xl md:text-3xl">
          <span>Daniela</span> <span class="fancy -mx-1 -mr-1.5 text-rose-500">&amp;</span> <span>Igor</span>
        </h1>
      </a>
    </div>
  </div>
</div>
